/* ---------- MAIN SECTION ---------- */
.catering {
  padding: 80px 10%;
  position: relative;
  background: #ffffff;
}

/* ---------- TEXT ---------- */
.catering-text {
  text-align: center;
  max-width: 720px;
  margin: 0 auto 60px;
}



.catering-subtitle {
  color: gray;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.catering-subtitle::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ff7a2f;
  border-radius: 50%;
}

.catering-main {
  font-size: 42px;
  font-weight: 700;
  margin: 15px 0;
}

.catering-main span {
  color: #ff7a2f;
}

.catering-text p {
  color: #777;
  line-height: 1.6;
}

/* ---------- GRID ---------- */
.catering-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* ---------- CARD ---------- */
.catering-card {
  position: relative;
  height: 260px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}

/* COLORS */
.catering-card.green {
  background: #0f2a26;
}

.catering-card.orange {
  background: #ff7a2f;
}

.catering-card.black {
  background: #111;
}

/* IMAGE */
.catering-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.catering-card:hover img {
  opacity: 1;
  transform: scale(1.08);
}

/* OVERLAY */
.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.25)
  );
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.card-overlay h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card-overlay p {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
}

/* ARROW ICON */
.arrow-icon {
  position: relative;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.catering-card:hover .arrow-icon {
  transform: rotate(45deg);
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {
  .catering-cards {
    grid-template-columns: 1fr;
  }

  .catering-main {
    font-size: 32px;
  }
}
/* SHOW ARROW IMAGE ONLY FROM 1140px AND ABOVE */
@media (max-width: 1139px) {
  .catering-arrow {
    display: none;
  }
}
/* TILT ARROW IMAGE */
.catering-arrow {
  width: 150px;
  margin-bottom: 10px;
    transform: rotate(300deg);
    transition: transform 0.4s ease;
    position: absolute;
    top: 172px;
    left: 254px;


    opacity: 0;                      /* start hidden */
  animation: arrowShow 0.6s ease forwards;
  animation-delay: 2s; 
}
 

@keyframes arrowShow {
  from {
    opacity: 0;
    transform: translateY(12px) rotate(300deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(300deg);
  }
}





