/* SECTION */
.healthymeals {
  padding: 90px 8%;
  background: #fff;
}

/* HEADER TEXT */
.healthymeals-text {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 70px;
}

.healthymeals-text h5 {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 12px;
}
.healthymeals-text h5::before{
    content: "";
  width: 20px;
  height: 20px;
  background-color: #ff7a2f;
  border-radius: 50%;
  display: inline-block;
}

.healthymeals-text h2 {
  font-size: 44px;
  font-weight: 800;
  color: #0f2a26;
  margin-bottom: 15px;
}

.healthymeals-text h2 span {
  color: #ff9b6a;
}

.healthymeals-text p {
  color: #777;
  line-height: 1.6;
}

/* GRID */
.healthymeals-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

/* CARD */
.healthy-card {
  position: relative;
  border-radius: 30px;
  transition: transform 0.35s ease;
}

/* IMAGE */
.healthy-card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

/* HOVER JUMP */
.healthy-card:hover img {
  transform: translateY(-12px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
}

/* NUMBER BADGE */
.step-badge {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #f3ede4;
  color: #ff7a2f;
  font-size: 22px;
  font-weight: 800;
  padding: 16px 22px;
  border-radius: 22px;
  z-index: 5;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* ACTIVE BADGE */
.step-badge.active {
  background: #ff7a2f;
  color: #fff;
}

/* CONTENT BOX */
.card-content {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background: #0f2a26;
  padding: 28px;
  border-radius: 26px;
  color: #fff;
  text-align: center;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
  opacity: 0.85;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .healthymeals-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .healthymeals-cards {
    grid-template-columns: 1fr;
  }

  .healthymeals-text h2 {
    font-size: 32px;
  }
}
