/* SECTION */
.nutritiousmeals {
  background: #f6efe6;
  padding: 80px 10%;
}

/* CONTAINER */
.nm-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* LEFT */
.nm-left {
  flex: 1;
}

/* SUBTITLE */
.nm-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 12px;
}

.nm-subtitle::before {
  content: "";
  width: 9px;
  height: 9px;
  background: #ff7a2f;
  border-radius: 50%;
}

/* TITLE */
.nm-title {
  font-size: 44px;
  font-weight: 800;
  color: #0f2a26;
  margin-bottom: 20px;
}

.nm-title span {
  color: #ff9b6a;
}

/* DESCRIPTION */
.nm-desc {
  color: #666;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* FEATURES */
.nm-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* PILL */
.nm-pill {
  position: relative;
  padding: 16px 28px;
  border-radius: 40px;
  border: none;
  background: transparent;
  color: #0f2a26;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  z-index: 1;
}

/* SLIDE BG */
.nm-pill::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #0f2a26;
  transform: translateX(-110%);
  transition: transform 0.45s ease;
  border-radius: 40px;
  z-index: -1;
}

.nm-pill.selected::before {
  transform: translateX(0);
}

.nm-pill.selected {
  color: #ffffff;
}

/* RIGHT IMAGES */
.nm-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nm-right img {
  width: 90%;
  height: 340px;
  object-fit: cover;
  border-radius: 30px;
}
.nm-desc-right {
  margin-bottom: 20px;
  max-width: 420px;
}

/* DOUBLE IMAGE */
.nm-right.double img {
width: 45%;
  height: 320px;
}
.nm-right-text {
  max-width: 360px;
}

.nm-checks {
  display: flex;
  gap: 30px;
  margin-top: 18px;
  font-weight: 600;
  color: #666;
}

.nm-checks span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nm-images {
  display: flex;
  gap: 20px;
}

.nm-images img {
  width: 280px;
  height: 320px;
  object-fit: cover;
  border-radius: 30px;
}
.nm-right.double .nm-images img {
  width: 240px;
  height: 300px;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .nm-container {
    flex-direction: column;
  }

  .nm-title {
    font-size: 34px;
  }

  .nm-right {
    flex-direction: column;
  }

  .nm-right.double img {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 900px) {
  .nm-right {
    align-items: center;
    text-align: center;
  }

  .nm-images {
    flex-direction: column;
  }

  .nm-images img {
    width: 100%;
    height: 260px;
  }
}

